*.csv
*.parquet
*.joblib
*.pkl

outputs/*
results/*
!outputs/.gitkeep
!data/.gitkeep
!models/.gitkeep
output/*
!output/.gitkeep
data/raw/*.zip
tmp/
.pytest_cache/



__pycache__/
.venv/
.env

.vscode/
.idea/WQ/
.DS_Store
data/.DS_Store
data/raw/.DS_Store
src/*.egg-info/
